@model IEnumerable<ITMOAspNetMvcApp.Models.Student>

@{
    ViewData["Title"] = "Список студентов";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Создать нового студента</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Баллы посещаемости</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.LastName</td>
                <td>@student.FirstName</td>
                <td>@student.Email</td>
                <td>@student.TotalAttendanceScore</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.StudentId" class="btn btn-primary btn-sm">Редактировать</a>
                    <a asp-action="Details" asp-route-id="@student.StudentId" class="btn btn-info btn-sm">Детали</a>
                    <a asp-action="Delete" asp-route-id="@student.StudentId" class="btn btn-danger btn-sm">Удалить</a>
                    @* <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-danger btn-sm">Удалить2</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
